[include]
	path = .gitconfig.local
[alias]
	alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
	ci = commit
	co = checkout
	last = show -1 HEAD --stat -p
	pr = pull-request
	see = browse
	st = status -bs
[core]
	editor = vim
	pager = cat
	excludesfile = ~/.gitignore
[color]
	diff = auto
	ui = auto
