#
# .inputrc
#

##################
# 基本設定
##################

# ベルを鳴らさない
set bell-style none
# vi モード
#set editing-mode vi
# コンソールの右端で折り返さずに水平スクロールする
#set horizontal-scroll-mode on

##################
# 入力補助
##################

# タブ補完時に大文字小文字を区別しない
set completion-ignore-case on
# ~ をタブで展開しない
set expand-tilde off
# ディレクトリ補完時に/をつける
set mark-directories on
set mark-symlinked-directories on
# 隠しファイルを補完対象にする
set match-hidden-files on
# 補完候補を水平に表示
#set print-completions-horizontally on
# 候補をいきなり表示する
set show-all-if-ambiguous on
# 補完候補に追加情報を表示する
set visible-stats on

##################
# 日本語関連
##################

# 8bit設定
set convert-meta off
set input-meta on
set output-meta on

##################
# キーバインド
##################

# <Up>, <Down> で履歴の前方一致検索をする
"\C-p": history-search-backward
"\C-n": history-search-forward
"\e[A": history-search-backward
"\e[B": history-search-forward

$if Bash
    # スペースで特殊変数を展開
    # !:1 直前のコマンドの1つめの引数
    # !:2 直前のコマンドの2つめの引数
    # !-2:2 2つ前のコマンドの2つめの引数
    Space: magic-space
$endif

#$if Mysql
#$endif

#$if Python
#$endif

#$include /etc/inputrc
